---
import { Image } from "astro:assets";
import logo from "../assets/logo.svg";
---

<header class="py-4">
  <div class="container mx-auto px-6 flex justify-between items-center">
    <div class="flex items-center">
      <a href="/" class="flex items-center py-2">
        <Image src={logo} alt="QueryDesk Logo" height={32} />
      </a>
    </div>
    <nav class="hidden md:flex space-x-10">
      <a href="/" class="nav-link text-white hover:text-interactive">Home</a>
      <a href="/why-querydesk" class="nav-link text-white hover:text-interactive">Why QueryDesk?</a>
      <a href="/features" class="nav-link text-white hover:text-interactive">Features</a>
      <a href="/pricing" class="nav-link text-white hover:text-interactive">Pricing</a>
      <a href="/about" class="nav-link text-white hover:text-interactive">About Us</a>
      <!-- <a href="https://docs.querydesk.com" class="nav-link">Docs</a> -->
    </nav>
    <div class="flex items-center space-x-4">
      <a
        href="https://auth.devhub.cloud/login"
        class="text-white hover:text-interactive">Login</a
      >
      <a
        href="https://auth.devhub.cloud/signup"
        class="btn-primary px-4 py-2 rounded-md font-medium">Start trial</a
      >
      <button id="mobile-menu-button" class="md:hidden focus:outline-none text-white">
        <svg
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button>
    </div>
  </div>
  <div
    id="mobile-menu"
    class="md:hidden fixed inset-0 bg-primary-dark bg-opacity-95 z-50 transform translate-x-full transition-transform duration-300 ease-in-out"
  >
    <div class="flex justify-end p-6">
      <button
        id="mobile-menu-close-button"
        class="focus:outline-none text-white cursor-pointer"
      >
        <svg
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>
    <nav class="flex flex-col items-center space-y-8 mt-10 text-xl">
      <a href="/" class="text-white hover:text-interactive">Home</a>
      <a href="/why-querydesk" class="text-white hover:text-interactive">Why QueryDesk?</a>
      <a href="/pricing" class="text-white hover:text-interactive">Pricing</a>
      <a href="/products" class="text-white hover:text-interactive">Products</a>
      <a href="/about" class="text-white hover:text-interactive">About</a>
      <a href="https://docs.querydesk.com" class="text-white hover:text-interactive">Docs</a>
      <a href="https://auth.devhub.cloud/login" class="text-white hover:text-interactive mt-8">Login</a>
      <a href="https://auth.devhub.cloud/signup" class="btn-primary px-6 py-2 rounded-md font-medium mt-4">Start Trial</a>
    </nav>
  </div>
</header>
