---
import { Image } from "astro:assets";
import logo from "../assets/logo.svg";
---

<header class="py-4">
  <div class="container mx-auto px-6 flex justify-between items-center">
    <div class="flex items-center">
      <a href="/" class="flex items-center">
        <Image src={logo} alt="QueryDesk Logo" height={36} />
      </a>
    </div>
    <nav class="hidden md:flex space-x-10">
      <a href="/#workflow" class="nav-link">Why QueryDesk?</a>
      <a href="/#features" class="nav-link">Features</a>
      <a href="/pricing" class="nav-link">Pricing</a>
      <a href="/about" class="nav-link">About Us</a>
      <!-- <a href="https://docs.querydesk.com" class="nav-link">Docs</a> -->
    </nav>
    <div class="flex items-center space-x-4">
      <a
        href="https://app.querydesk.com/login"
        class="text-gray-300 hover:text-white">Login</a
      >
      <a
        href="https://app.querydesk.com/signup"
        class="btn-primary px-4 py-2 rounded-md font-medium">Start Trial</a
      >
      <button class="md:hidden focus:outline-none">
        <svg
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button>
    </div>
  </div>
</header>
