---

---

<section class="max-w-7xl mx-auto">
  <div class="grid grid-cols-[1.2fr_2fr] gap-6 ml-6">
    <div class="bg-surface-1 p-12 rounded-xl flex flex-col justify-between">
      <p class="text-xl border-b border-gray-900 text-balance pb-4">
        Built for developers, by developers. Because who else knows best, eh?
      </p>
      <p class="text-2xl text-balance">
        QueryDesk is a developer-first platform that lets your team safely
        <span class="font-semibold"
          >run production database queries in minutes</span
        >
        — no demos or sales calls. Unless, of course, you really want to talk to us.
      </p>
    </div>
    <div class="relative min-h-180">
      <div
        class="absolute inset-y-0 left-0 w-[100vw] max-w-315 rounded-l-xl bg-[url('/images/query-view.png')] bg-left bg-cover bg-no-repeat"
      >
      </div>
    </div>
  </div>
</section>
