---

---

<footer class="bg-surface-1">
  <div class="px-6 max-w-7xl mx-auto">
    <div
      class="grid grid-cols-[1.5fr_1fr] gap-6 py-24 border-b border-gray-900 pb-6"
    >
      <p class="text-6xl text-balance">
        Ready to stop fretting with database access?
      </p>
      <p class="text-3xl">
        QueryDesk is a developer-first platform that lets your team safely run
        production database queries in minutes — no drama or secret data access.
        Of course, you really want to talk to us.
      </p>
      <a
        href="https://auth.devhub.cloud/signup"
        class="w-48 text-lg text-center bg-blue-300 text-gray-50 px-6 py-3 rounded-full"
        >Start your trial</a
      >
    </div>
  </div>
  <div class="py-24 px-6 max-w-7xl mx-auto">
    <div class="flex flex-col gap-2">
      <svg
        width="216"
        height="33"
        viewBox="0 0 216 33"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <mask
          id="mask0_2175_232"
          style="mask-type:luminance"
          maskUnits="userSpaceOnUse"
          x="0"
          y="0"
          width="216"
          height="33"
        >
          <path d="M215.83 0H0V33H215.83V0Z" fill="white"></path>
        </mask>
        <g mask="url(#mask0_2175_232)">
          <path
            d="M53.8509 6.84766C48.4403 6.84766 44.0521 11.0964 44.0521 16.3352C44.0521 21.5739 48.4403 25.8227 53.8509 25.8227C55.5977 25.8227 57.2592 25.3689 58.7077 24.5852V33.0002L63.6924 31.3914V16.3352C63.6498 11.0964 59.2616 6.84766 53.8509 6.84766ZM53.8509 21.0377C51.1669 21.0377 49.0367 18.9339 49.0367 16.3352C49.0367 13.7364 51.2095 11.6739 53.8509 11.6739C56.535 11.6739 58.7077 13.7777 58.7077 16.3352C58.7077 18.8927 56.4924 21.0377 53.8509 21.0377Z"
            fill="#111827"></path>
          <path
            d="M94.665 6.88867C89.2544 6.88867 84.8662 11.1374 84.8662 16.3762C84.8662 21.6149 89.2544 25.8637 94.665 25.8637C97.2638 25.8637 99.7348 24.8737 101.567 23.0999L98.0733 19.6762C97.1786 20.5424 95.9857 21.0374 94.665 21.0374C92.9183 21.0374 91.3846 20.1299 90.5325 18.7687H104.506V16.3762C104.464 11.1787 100.076 6.88867 94.665 6.88867ZM90.4899 13.9837C91.3419 12.6224 92.8757 11.7149 94.6224 11.7149C96.3692 11.7149 97.9029 12.6224 98.755 13.9837H90.4899Z"
            fill="#111827"></path>
          <path
            d="M169.988 6.93018C164.577 6.93018 160.189 11.1789 160.189 16.4177C160.189 21.6564 164.577 25.9052 169.988 25.9052C172.587 25.9052 175.058 24.9152 176.89 23.1827L173.396 19.7589C172.502 20.6252 171.266 21.1202 169.988 21.1202C168.241 21.1202 166.708 20.2127 165.856 18.8514H179.83V16.4177C179.83 11.1789 175.399 6.93018 169.988 6.93018ZM165.856 14.0252C166.708 12.6639 168.241 11.7564 169.988 11.7564C171.735 11.7564 173.269 12.6639 174.121 14.0252H165.856Z"
            fill="#111827"></path>
          <path
            d="M78.0497 6.84766C78.0497 6.84766 78.0497 17.4489 78.0497 17.6139C78.0497 17.6964 78.0497 17.7377 78.0497 17.8202V17.8614C77.9219 19.6764 76.3456 21.0789 74.471 21.0789C72.5113 21.0789 70.8923 19.5114 70.8923 17.6139V6.84766H65.9077V17.6139C65.9077 22.1927 69.742 25.9052 74.471 25.9052C79.2 25.9052 82.6935 22.5227 82.9917 18.1914C82.9917 17.9852 83.0343 17.8202 83.0343 17.6139C83.0343 17.4902 83.0343 6.84766 83.0343 6.84766H78.0497Z"
            fill="#111827"></path>
          <path
            d="M106.85 16.2526V25.9051H111.834V16.2526C111.834 13.6539 114.007 11.5501 116.691 11.5501V6.76514C111.238 6.76514 106.85 11.0139 106.85 16.2526Z"
            fill="#111827"></path>
          <path
            d="M128.833 17.8202L124.147 6.84766H118.779L126.277 24.4202L122.911 33.0002H128.237L138.376 6.84766H133.051L128.833 17.8202Z"
            fill="#111827"></path>
          <path
            d="M153.16 8.25C151.711 7.425 150.007 6.93 148.175 6.93C142.765 6.93 138.376 11.1788 138.376 16.4175C138.376 21.6562 142.765 25.905 148.175 25.905C153.586 25.905 157.974 21.6562 157.974 16.4175C157.974 16.17 158.102 1.5675 158.102 1.5675L153.16 0V8.25ZM148.175 21.12C145.491 21.12 143.361 19.0163 143.361 16.4587C143.361 13.9013 145.534 11.7562 148.175 11.7562C150.859 11.7562 153.032 13.86 153.032 16.4587C153.032 19.0575 150.859 21.12 148.175 21.12Z"
            fill="#111827"></path>
          <path
            d="M208.374 14.4787L215.148 6.8475H208.715L202.665 13.53V0H197.68V25.9463H202.665V20.8312L204.966 18.2738L209.95 25.9463H215.83L208.374 14.4787Z"
            fill="#111827"></path>
          <path
            d="M189.202 13.9424H187.669C186.987 13.9424 186.476 13.4062 186.476 12.7874C186.476 12.1274 187.03 11.6324 187.669 11.6324H194.783V6.80615H187.669C184.26 6.80615 181.491 9.4874 181.491 12.7874C181.491 16.0874 184.26 18.7687 187.669 18.7687H189.202C189.884 18.7687 190.395 19.3049 190.395 19.9237C190.395 20.5837 189.841 21.0787 189.202 21.0787H182.045V25.9049H189.202C192.611 25.9049 195.38 23.2237 195.38 19.9237C195.38 16.6237 192.611 13.9424 189.202 13.9424Z"
            fill="#111827"></path>
          <path
            d="M30.6745 27.6373C30.6745 25.5748 28.9704 23.9248 26.8402 23.9248C24.71 23.9248 23.0059 25.5748 23.0059 27.6373C23.0059 29.6998 24.71 31.3498 26.8402 31.3498C28.9704 31.3498 30.6745 29.6586 30.6745 27.6373Z"
            fill="#111827"></path>
          <path
            d="M16.4024 1.69124C7.1574 1.11374 -0.468636 8.41499 0.0426065 17.3662C0.468642 24.7087 6.51835 30.7312 14.1018 31.3087C16.445 31.4737 18.703 31.1437 20.7479 30.4012L18.0213 23.43C16.9136 23.8425 15.7207 24.0075 14.4426 23.8425C10.9491 23.4712 8.09468 20.7075 7.71125 17.325C7.1574 12.6225 11.1621 8.66249 16.0189 9.07499C19.8533 9.40499 22.9207 12.5812 22.9633 16.335C22.9633 17.325 22.7929 18.2325 22.4521 19.0987L29.6521 21.7387C30.4189 19.8 30.7598 17.6137 30.5894 15.3862C30.1207 8.08499 23.9432 2.14499 16.4024 1.69124Z"
            fill="#111827"></path>
        </g>
      </svg>
      <p class="copyright">©2026 Devhub LLC. All rights reserved.</p>
    </div>
  </div>
</footer>
