---

---

<header class="m-12 max-w-7xl mx-auto">
  <div
    class="p-4 z-10 relative flex items-center justify-between backdrop-blur-xl rounded-3xl bg-gray-100/20 border border-gray-100/20"
  >
    <div>
      <a href="/" class="logo">
        <div class="logo-icon">
          <svg
            width="216"
            height="33"
            viewBox="0 0 216 33"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_2175_8)">
              <mask
                id="mask0_2175_8"
                style="mask-type:luminance"
                maskUnits="userSpaceOnUse"
                x="0"
                y="0"
                width="216"
                height="33"
              >
                <path d="M215.83 0H0V33H215.83V0Z" fill="white"></path>
              </mask>
              <g mask="url(#mask0_2175_8)">
                <path
                  d="M53.8509 6.8475C48.4403 6.8475 44.0521 11.0963 44.0521 16.335C44.0521 21.5738 48.4403 25.8225 53.8509 25.8225C55.5977 25.8225 57.2592 25.3688 58.7077 24.585V33L63.6924 31.3913V16.335C63.6498 11.0963 59.2616 6.8475 53.8509 6.8475ZM53.8509 21.0375C51.1669 21.0375 49.0367 18.9338 49.0367 16.335C49.0367 13.7363 51.2095 11.6738 53.8509 11.6738C56.535 11.6738 58.7077 13.7775 58.7077 16.335C58.7077 18.8925 56.4924 21.0375 53.8509 21.0375Z"
                  fill="#F9FAFB"></path>
                <path
                  d="M94.665 6.88875C89.2544 6.88875 84.8662 11.1375 84.8662 16.3762C84.8662 21.615 89.2544 25.8637 94.665 25.8637C97.2638 25.8637 99.7348 24.8737 101.567 23.1L98.0733 19.6762C97.1786 20.5425 95.9857 21.0375 94.665 21.0375C92.9183 21.0375 91.3846 20.13 90.5325 18.7687H104.506V16.3762C104.464 11.1787 100.076 6.88875 94.665 6.88875ZM90.4899 13.9837C91.3419 12.6225 92.8757 11.715 94.6224 11.715C96.3692 11.715 97.9029 12.6225 98.755 13.9837H90.4899Z"
                  fill="#F9FAFB"></path>
                <path
                  d="M169.988 6.93C164.577 6.93 160.189 11.1788 160.189 16.4175C160.189 21.6562 164.577 25.905 169.988 25.905C172.587 25.905 175.058 24.915 176.89 23.1825L173.396 19.7587C172.502 20.625 171.266 21.12 169.988 21.12C168.241 21.12 166.708 20.2125 165.856 18.8512H179.83V16.4175C179.83 11.1788 175.399 6.93 169.988 6.93ZM165.856 14.025C166.708 12.6638 168.241 11.7563 169.988 11.7563C171.735 11.7563 173.269 12.6638 174.121 14.025H165.856Z"
                  fill="#F9FAFB"></path>
                <path
                  d="M78.0497 6.8475C78.0497 6.8475 78.0497 17.4488 78.0497 17.6138C78.0497 17.6963 78.0497 17.7375 78.0497 17.82V17.8613C77.9219 19.6763 76.3456 21.0788 74.471 21.0788C72.5113 21.0788 70.8923 19.5113 70.8923 17.6138V6.8475H65.9077V17.6138C65.9077 22.1925 69.742 25.905 74.471 25.905C79.2 25.905 82.6935 22.5225 82.9917 18.1913C82.9917 17.985 83.0343 17.82 83.0343 17.6138C83.0343 17.49 83.0343 6.8475 83.0343 6.8475H78.0497Z"
                  fill="#F9FAFB"></path>
                <path
                  d="M106.85 16.2525V25.905H111.834V16.2525C111.834 13.6538 114.007 11.55 116.691 11.55V6.765C111.238 6.765 106.85 11.0138 106.85 16.2525Z"
                  fill="#F9FAFB"></path>
                <path
                  d="M128.833 17.82L124.147 6.8475H118.779L126.277 24.42L122.911 33H128.237L138.376 6.8475H133.051L128.833 17.82Z"
                  fill="#F9FAFB"></path>
                <path
                  d="M153.16 8.25C151.711 7.425 150.007 6.93 148.175 6.93C142.765 6.93 138.376 11.1788 138.376 16.4175C138.376 21.6562 142.765 25.905 148.175 25.905C153.586 25.905 157.974 21.6562 157.974 16.4175C157.974 16.17 158.102 1.5675 158.102 1.5675L153.16 0V8.25ZM148.175 21.12C145.491 21.12 143.361 19.0163 143.361 16.4587C143.361 13.9013 145.534 11.7562 148.175 11.7562C150.859 11.7562 153.032 13.86 153.032 16.4587C153.032 19.0575 150.859 21.12 148.175 21.12Z"
                  fill="#F9FAFB"></path>
                <path
                  d="M208.374 14.4787L215.148 6.8475H208.715L202.665 13.53V0H197.68V25.9463H202.665V20.8312L204.966 18.2738L209.95 25.9463H215.83L208.374 14.4787Z"
                  fill="#F9FAFB"></path>
                <path
                  d="M189.202 13.9425H187.669C186.987 13.9425 186.476 13.4063 186.476 12.7875C186.476 12.1275 187.03 11.6325 187.669 11.6325H194.783V6.80625H187.669C184.26 6.80625 181.491 9.4875 181.491 12.7875C181.491 16.0875 184.26 18.7688 187.669 18.7688H189.202C189.884 18.7688 190.395 19.305 190.395 19.9238C190.395 20.5838 189.841 21.0788 189.202 21.0788H182.045V25.905H189.202C192.611 25.905 195.38 23.2238 195.38 19.9238C195.38 16.6238 192.611 13.9425 189.202 13.9425Z"
                  fill="#F9FAFB"></path>
                <path
                  d="M30.6745 27.6375C30.6745 25.575 28.9704 23.925 26.8402 23.925C24.71 23.925 23.0059 25.575 23.0059 27.6375C23.0059 29.7 24.71 31.35 26.8402 31.35C28.9704 31.35 30.6745 29.6588 30.6745 27.6375Z"
                  fill="#F9FAFB"></path>
                <path
                  d="M16.4024 1.69125C7.1574 1.11375 -0.468636 8.415 0.0426065 17.3662C0.468642 24.7087 6.51835 30.7313 14.1018 31.3088C16.445 31.4738 18.703 31.1438 20.7479 30.4013L18.0213 23.43C16.9136 23.8425 15.7207 24.0075 14.4426 23.8425C10.9491 23.4713 8.09468 20.7075 7.71125 17.325C7.1574 12.6225 11.1621 8.6625 16.0189 9.075C19.8533 9.405 22.9207 12.5812 22.9633 16.335C22.9633 17.325 22.7929 18.2325 22.4521 19.0987L29.6521 21.7388C30.4189 19.8 30.7598 17.6137 30.5894 15.3862C30.1207 8.085 23.9432 2.145 16.4024 1.69125Z"
                  fill="#F9FAFB"></path>
              </g>
            </g>
            <defs>
              <clipPath id="clip0_2175_8">
                <rect width="216" height="33" fill="white"></rect>
              </clipPath>
            </defs>
          </svg>
        </div>
      </a>
    </div>

    <nav class="flex items-center gap-14 text-white text-xl">
      <a href="#features">Features</a>
      <a href="#whats-new">What's new</a>
      <a href="#pricing">Pricing</a>
      <a href="#testimonials">Testimonials</a>
    </nav>

    <div class="flex items-center gap-4 text-xl font-medium">
      <a
        href="https://auth.devhub.cloud/login"
        class="w-36 text-center rounded-full bg-gray-50 text-blue-300 border border-blue-300 px-6 py-3"
        >Login</a
      >
      <a
        href="https://auth.devhub.cloud/signup"
        class="w-36 text-center rounded-full bg-blue-300 text-gray-50 px-6 py-3"
        >Start trial</a
      >
    </div>
  </div>
</header>
