---

---

<section class="logos section">
  <div class="max-w-7xl px-6 mx-auto flex gap-24 items-center justify-center">
    <div class="h-12">
      <svg
        width="286"
        height="50"
        viewBox="0 0 286 50"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_2175_40)">
          <path
            d="M45.4787 21.6406L28.6 14.2969L11.7213 21.6406L7.11096 9.375L28.6 0L50.1672 9.375L45.4787 21.6406Z"
            fill="#111827"></path>
          <path
            d="M21.4891 50L0 40.7031L4.68852 28.4375L21.4891 35.7031L38.2896 28.4375L42.9781 40.7031L21.4891 50Z"
            fill="#111827"></path>
          <path
            d="M211.765 37.8906V35.0781C210.515 36.5625 209.186 37.4219 207.545 37.9688C200.903 40.0781 194.027 35.7031 193.011 28.6719C192.464 24.8438 193.011 21.25 195.433 18.0469C198.403 14.1406 203.951 12.6563 208.327 14.6094C209.343 15.0781 210.202 15.7031 211.218 16.3281C211.218 11.6406 211.218 18.5156 211.218 13.8281H217.704C217.704 14.1406 217.704 25.7031 217.704 36.9531C217.704 37.6563 217.548 37.8906 216.766 37.8906C215.125 37.8125 213.484 37.8906 211.765 37.8906ZM199.34 26.25C199.34 26.4063 199.34 26.7188 199.419 27.0313C199.731 30.0781 202.075 32.3438 205.045 32.5C208.171 32.6563 210.749 30.7813 211.14 27.8125C211.374 26.5625 211.296 25.1563 210.984 23.8281C210.593 21.875 209.265 20.5469 207.389 19.8438C203.248 18.5156 199.34 21.4844 199.34 26.25Z"
            fill="#111827"></path>
          <path
            d="M182.774 37.8906V35.0781C181.524 36.5625 180.196 37.4219 178.555 37.9688C171.913 40.0781 165.036 35.7031 164.02 28.6719C163.473 24.8438 164.02 21.25 166.443 18.0469C169.412 14.1406 174.96 12.6563 179.336 14.6094C180.352 15.0781 181.211 15.7031 182.227 16.3281V5.07812H188.713V5.9375C188.713 17.1875 188.713 25.7031 188.713 36.9531C188.713 37.6562 188.557 37.8906 187.775 37.8906C186.134 37.8125 184.493 37.8906 182.774 37.8906ZM170.35 26.25C170.35 26.4062 170.35 26.7188 170.428 27.0312C170.74 30.0781 173.085 32.3438 176.054 32.5C179.18 32.6562 181.758 30.7812 182.149 27.8125C182.384 26.5625 182.305 25.1563 181.993 23.8281C181.602 21.875 180.274 20.5469 178.398 19.8438C174.257 18.5156 170.35 21.4844 170.35 26.25Z"
            fill="#111827"></path>
          <path
            d="M229.034 35.1562V37.8125H223.174V5.07812H229.503V16.4062C229.66 16.3281 229.816 16.3281 229.894 16.25C232.942 12.9687 240.365 12.6562 244.585 17.0312C249.898 22.5 248.961 32.7344 242.631 36.6406C238.959 38.9062 235.051 39.0625 231.222 36.875C230.441 36.4844 229.816 35.8594 229.034 35.1562ZM229.425 26.0938C229.425 30.3906 232.395 33.125 236.38 32.5C239.115 32.1094 241.146 29.9219 241.381 27.1094C241.693 23.5938 240.287 20.9375 237.474 19.9219C234.036 18.75 229.425 20.625 229.425 26.0938Z"
            fill="#111827"></path>
          <path
            d="M83.0651 14.375H88.9257V17.1875C90.176 15.625 91.5826 14.7656 93.2235 14.2188C99.8656 12.1875 106.508 16.4063 107.602 23.5156C108.227 27.4219 107.602 31.0156 105.101 34.2188C101.897 38.3594 95.8804 39.6094 91.5044 37.1875C90.8011 36.7969 90.176 36.25 89.3946 35.7031V44.9219H83.0651V14.375ZM101.272 26.0938C101.272 23.125 99.7875 20.8594 97.3651 20C93.5361 18.5938 89.7071 21.0156 89.3164 25.0781C88.9257 28.6719 90.3323 31.3281 93.0672 32.2656C97.3651 33.75 101.272 30.7813 101.272 26.0938Z"
            fill="#111827"></path>
          <path
            d="M269.121 28.2813C269.59 30.625 271.466 32.3438 273.966 32.8125C276.467 33.2813 278.811 32.7344 280.921 31.4844C281.311 31.25 281.702 30.9375 282.171 30.625C283.031 32.0313 283.89 33.4375 284.828 34.9219C283.343 36.1719 281.78 37.1094 279.983 37.7344C274.357 39.6094 268.105 37.8125 264.824 33.2813C261.698 28.9063 261.776 22.7344 265.136 18.5156C268.34 14.375 274.279 12.7344 279.202 14.6094C283.812 16.4063 286.469 21.0938 285.844 26.1719C285.687 27.5781 284.906 28.2813 283.499 28.2813H269.121ZM279.67 23.75C279.67 21.1719 277.717 19.2188 275.06 19.0625C272.169 18.9063 269.512 21.0156 269.199 23.75H279.67Z"
            fill="#111827"></path>
          <path
            d="M117.057 28.2812C117.604 30.1562 118.62 31.5625 120.339 32.2656C123.074 33.4375 125.809 33.0469 128.387 31.7187C129.013 31.4062 129.56 31.0156 130.263 30.625L132.92 34.9219C131.122 36.4844 129.169 37.5 126.903 38.0469C120.886 39.5312 114.791 37.0312 112.056 31.875C109.633 27.4219 110.337 21.6406 113.697 17.8125C116.979 14.0625 122.605 12.7344 127.293 14.5312C131.904 16.3281 134.639 21.1719 133.935 26.3281C133.779 27.5781 132.998 28.2031 131.748 28.2031H118.229C117.838 28.2812 117.526 28.2812 117.057 28.2812ZM117.135 23.6719H127.684C127.84 21.3281 126.043 19.375 123.464 18.9844C120.417 18.6719 117.682 20.625 117.135 23.6719Z"
            fill="#111827"></path>
          <path
            d="M138.077 14.375H143.938V16.3281C144.25 16.1719 144.407 16.0156 144.563 15.9375C147.298 13.8281 150.423 13.2812 153.705 14.2187C156.987 15.0781 159.175 17.9687 159.566 21.6406C159.644 22.1875 159.644 22.7344 159.644 23.2812C159.644 27.8906 159.644 32.4219 159.644 37.0312C159.644 37.6562 159.488 37.8906 158.863 37.8906C157.222 37.8125 155.659 37.8125 154.018 37.8906C153.393 37.8906 153.237 37.6562 153.237 37.0312C153.237 32.9688 153.237 28.9062 153.237 24.8437C153.237 24.4531 153.237 23.9844 153.237 23.5937C153.08 21.1719 151.361 19.5312 149.017 19.5312C146.516 19.5312 144.719 21.0156 144.485 23.5156C144.485 23.9844 144.407 24.375 144.407 24.8437C144.407 28.8281 144.407 32.8125 144.407 36.7969C144.407 37.1094 144.407 37.4219 144.407 37.8125H138.077V14.375Z"
            fill="#111827"></path>
          <path
            d="M78.5328 17.4219L75.3289 21.25C75.0945 21.0156 74.8601 20.8594 74.6256 20.7031C73.2972 19.6875 71.8125 19.0625 70.0934 19.0625C69.5464 19.0625 68.9994 19.1406 68.4524 19.375C67.2803 19.8438 67.2022 21.25 68.218 21.875C68.9213 22.3438 69.7027 22.6563 70.4841 22.9688C72.1251 23.75 73.7661 24.375 75.3289 25.2344C77.7513 26.4844 79.0797 28.5156 78.9235 31.3281C78.7672 34.2188 77.2825 36.25 74.7038 37.4219C70.1715 39.6094 63.842 38.2813 60.4819 34.5313C60.0912 34.0625 60.0131 33.75 60.4819 33.2813C61.4196 32.2656 62.2792 31.1719 63.2169 30C63.5295 30.2344 63.7639 30.4688 63.9983 30.7031C65.6393 32.1875 67.5147 33.2031 69.7808 33.2031C70.4841 33.2031 71.1874 33.0469 71.8907 32.8125C72.5158 32.5781 72.8284 32.1094 72.9065 31.4063C72.9065 30.7031 72.594 30.2344 71.9688 29.9219C70.7967 29.375 69.5464 28.9063 68.3743 28.2813C66.8896 27.5 65.3267 26.7969 63.9983 25.9375C60.4038 23.5938 60.7945 17.6563 64.389 15.3906C68.3743 12.8906 75.1726 13.6719 78.3765 17.1094C78.4546 17.1875 78.4546 17.2656 78.5328 17.4219Z"
            fill="#111827"></path>
          <path
            d="M252.086 5C254.118 5 256.072 5 258.025 5C258.181 5 258.26 5 258.494 5.07812V37.8906C257.869 37.8906 257.322 37.8906 256.775 37.8906C255.525 37.8906 254.274 37.8125 253.024 37.8906C252.243 37.8906 252.086 37.6562 252.086 36.9531C252.086 29.7656 252.086 22.5 252.086 15.3125C252.086 11.3281 252.086 10.0781 252.086 6.09375V5Z"
            fill="#111827"></path>
        </g>
        <defs>
          <clipPath id="clip0_2175_40">
            <rect width="286" height="50" fill="white"></rect>
          </clipPath>
        </defs>
      </svg>
    </div>
    <div class="h-12">
      <svg
        width="197"
        height="50"
        viewBox="0 0 197 50"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_2175_52)">
          <path
            d="M67.3918 40.5C64.7206 40.5 62.3833 39.9444 60.3243 38.8333C58.2653 37.7222 56.7071 36.1667 55.6497 34.1667C54.5367 32.2222 53.9802 30.0556 53.9802 27.6111H61.9938C62.0494 29.0556 62.5503 30.2778 63.4963 31.2222C64.4424 32.1667 65.7223 32.6667 67.3362 32.6667C68.95 32.6667 70.2299 32.1667 71.176 31.1667C72.1777 30.1667 72.6229 28.8333 72.6229 27.2778V0H80.6921V27.3333C80.6921 29.8333 80.1356 32.1111 79.0782 34.1111C77.9653 36.1111 76.4071 37.6667 74.4037 38.8333C72.4559 39.9444 70.063 40.5 67.3918 40.5Z"
            fill="#111827"></path>
          <path
            d="M99.1122 40.5C96.8306 40.5 94.7716 40 92.9908 38.9444C91.2656 37.8889 89.93 36.3889 88.9283 34.5C87.9266 32.5555 87.4814 30.3333 87.4814 27.8333V10.7778H95.1611V27.2222C95.1611 28.9444 95.7176 30.3889 96.7749 31.6111C97.8879 32.7778 99.2235 33.3889 100.837 33.3889C102.507 33.3889 103.842 32.7778 104.9 31.6111C106.013 30.4444 106.514 29 106.514 27.2222V10.7778H114.193V39.7778H108.517L107.293 36.9444H107.014C106.402 37.7222 105.401 38.5 104.009 39.3333C102.563 40.1111 100.949 40.5 99.1122 40.5Z"
            fill="#111827"></path>
          <path
            d="M151.478 10.0555C154.706 10.0555 157.21 11.1111 159.047 13.2778C160.883 15.4444 161.829 18.4444 161.829 22.3889V39.7778H154.15V22.6667C154.15 21 153.704 19.6667 152.87 18.6667C152.035 17.6667 150.978 17.1667 149.698 17.1667C148.418 17.1667 147.36 17.6667 146.47 18.6667C145.635 19.6667 145.246 21 145.246 22.6667V39.7778H137.566V22.6667C137.566 21 137.121 19.6667 136.286 18.6667C135.451 17.6667 134.394 17.1667 133.114 17.1667C131.834 17.1667 130.777 17.6667 129.886 18.6667C129.052 19.6667 128.662 21 128.662 22.6667V39.7778H120.982V10.7778H126.77L127.994 13.6111H128.273C128.773 12.8333 129.664 12.0555 130.888 11.2778C132.112 10.4444 133.559 10.0555 135.229 10.0555C137.176 10.0555 138.846 10.5 140.126 11.2778C141.462 12.1111 142.463 13.0555 143.187 14.1111C143.966 13.0555 145.134 12.1111 146.637 11.2778C148.139 10.4444 149.698 10.0555 151.478 10.0555Z"
            fill="#111827"></path>
          <path
            d="M168.173 50V10.7778H173.961L175.185 13.6111H175.463C176.076 12.8333 177.133 12 178.58 11.2222C180.027 10.4444 181.696 10.0555 183.644 10.0555C185.981 10.0555 188.152 10.7222 190.211 12.0555C192.27 13.3889 193.939 15.2222 195.108 17.5555C196.332 19.8889 197 22.4444 197 25.2778C197 28.1111 196.388 30.7222 195.108 33.0555C193.884 35.3889 192.27 37.1667 190.211 38.5C188.152 39.8333 185.981 40.5 183.644 40.5C182.42 40.5 181.251 40.2778 180.138 39.8889C179.081 39.5 178.19 39.0555 177.467 38.5555C176.799 38.0555 176.354 37.6111 176.131 37.2222H175.853V50H168.173ZM182.587 33.3333C183.811 33.3333 184.924 33 185.926 32.3333C186.927 31.6667 187.762 30.7222 188.374 29.5C188.986 28.2778 189.32 26.8333 189.32 25.2778C189.32 23.7222 188.986 22.3333 188.374 21.1111C187.762 19.8889 186.983 18.8889 185.926 18.2222C184.924 17.5555 183.811 17.2222 182.587 17.2222C181.362 17.2222 180.249 17.5555 179.248 18.2222C178.246 18.8889 177.411 19.8889 176.743 21.1111C176.131 22.3333 175.853 23.7222 175.853 25.2778C175.853 26.8333 176.131 28.2222 176.743 29.5C177.356 30.7222 178.19 31.6667 179.248 32.3333C180.305 33 181.418 33.3333 182.587 33.3333Z"
            fill="#111827"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M17.3071 0.444415C18.8653 1.3333 19.4217 3.3333 18.4757 4.94441L6.06581 26.6111C5.17542 28.1666 3.17203 28.7222 1.61384 27.8333C0.055645 26.9444 -0.500852 24.9444 0.445193 23.3333L12.8551 1.66664C13.7455 0.0555259 15.7489 -0.444474 17.3071 0.444415Z"
            fill="#111827"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M31.6091 0.777797C33.1673 1.66669 33.7238 3.66669 32.7777 5.2778L20.3678 26.9445C19.4774 28.5 17.474 29.0556 15.9158 28.1667C14.3576 27.2778 13.8011 25.2778 14.7472 23.6667L27.1571 2.00002C28.0475 0.444464 30.0509 -0.111092 31.6091 0.777797Z"
            fill="#111827"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M38.8991 12.7222C40.4573 13.6111 41.0138 15.6111 40.0677 17.2222L27.6579 38.8889C26.7675 40.4444 24.7641 41 23.2059 40.1111C21.6477 39.2222 21.0912 37.2222 22.0372 35.6111L34.4471 13.9444C35.3932 12.3333 37.3409 11.7778 38.8991 12.7222Z"
            fill="#111827"></path>
        </g>
        <defs>
          <clipPath id="clip0_2175_52">
            <rect width="197" height="50" fill="white"></rect>
          </clipPath>
        </defs>
      </svg>
    </div>
    <div class="h-12">
      <svg
        width="235"
        height="54"
        viewBox="0 0 235 54"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M101 53V0H117.625C119.703 0 121.484 3.47402e-08 122.969 0.155425C124.453 0.310851 125.789 0.466276 127.125 0.777126C128.312 1.08798 129.352 1.55425 130.391 2.02053C131.43 2.4868 132.32 3.1085 133.062 3.88563C134.992 5.59531 136.477 7.61584 137.516 9.94722C138.555 12.434 139 15.2317 139 17.8739C139 20.5161 138.555 23.1584 137.516 25.6452C136.625 27.9765 135.289 29.9971 133.656 31.7067C132.023 33.4164 129.945 34.6598 127.57 35.2815C125.344 35.9032 122.375 36.3695 118.664 36.3695H113.172V53H101ZM113.469 24.4018H118.664C124.008 24.4018 126.68 22.3812 126.68 18.1848C126.68 16.0088 125.937 14.2991 124.602 13.3666C123.266 12.434 121.039 11.8123 118.07 11.8123H113.32V24.4018H113.469Z"
          fill="black"></path>
        <path
          d="M139 52.9803V0H155.65C157.532 0 159.269 3.47273e-08 160.717 0.155367C162.02 0.310735 163.468 0.466102 164.771 0.776837C165.929 1.08757 167.088 1.39831 168.246 2.01978C169.404 2.48588 170.418 3.10735 171.431 3.88419C173.747 5.43786 175.919 7.61301 177.512 9.94352C180.552 14.4492 182 19.887 182 26.2571C182 30.2967 181.421 33.8701 180.263 37.2882C179.249 40.3955 177.657 43.3475 175.485 45.678C173.458 48.0085 170.852 49.873 168.101 51.1159C165.061 52.3588 161.731 53.1357 158.545 52.9803H139ZM151.596 41.017H156.953C160.862 41.017 163.902 39.7741 165.929 37.2882C167.956 34.8023 168.97 31.2289 168.97 26.5678C168.97 21.7514 167.956 18.178 165.785 15.5367C163.758 13.0509 160.717 11.6526 156.808 11.6526H151.306L151.596 41.017Z"
          fill="black"></path>
        <path
          d="M233.971 43.3521C234.118 43.3521 234.265 43.3521 234.412 43.3521C234.559 43.3521 234.853 43.3521 235 43.3521V53.8479L233.236 54C232.795 54 232.354 54 231.766 54C229.415 54 227.063 53.6958 224.858 52.9352C222.801 52.1747 221.184 51.262 220.008 49.893C215.745 52.631 211.189 54 206.339 54C202.664 54 198.989 53.3916 195.609 51.8704C192.375 50.5014 189.436 48.6761 186.937 46.2423C184.438 43.8084 182.528 40.9183 181.058 37.5718C179.735 34.3775 179 30.7268 179 27.2282C179 23.5775 179.588 20.0789 180.911 16.7324C182.234 13.3859 184.144 10.3437 186.643 7.90986C189.142 5.32394 192.081 3.34648 195.315 1.97746C198.549 0.608451 201.929 0 205.457 0C209.131 0 212.659 0.760563 216.039 2.12958C219.273 3.49859 222.213 5.47606 224.711 7.90986C227.21 10.3437 229.121 13.3859 230.444 16.5803C231.913 19.9268 232.501 23.5775 232.501 27.3803C232.501 29.8141 232.207 32.4 231.472 34.8338C230.738 37.2676 229.562 39.7014 228.239 41.831C229.709 42.7437 231.619 43.3521 233.971 43.3521ZM211.189 27.2282C211.924 27.8366 212.659 28.293 213.1 28.7493C213.688 29.2056 214.129 29.662 214.717 30.1183C215.304 30.5746 215.745 31.1831 216.333 31.7915C216.774 32.4 217.509 33.1606 218.097 33.9211C218.685 32.5521 219.126 31.1831 219.42 29.8141C219.714 28.5972 219.861 27.3803 219.861 26.1634C219.861 24.1859 219.567 22.0563 218.832 20.231C218.097 18.4056 217.215 16.8845 215.892 15.5155C214.57 14.1465 213.1 13.0817 211.336 12.4732C209.572 11.7127 207.514 11.4085 205.604 11.4085C202.076 11.4085 199.136 12.6254 196.638 14.907C194.286 17.1887 192.669 20.3831 192.081 24.4901C193.257 23.8817 194.58 23.4254 195.903 23.1211C197.079 22.8169 198.108 22.8169 199.283 22.8169C203.252 22.969 207.22 24.338 211.189 27.2282ZM205.604 42.1352C206.486 42.1352 207.367 41.9831 208.249 41.6789C209.278 41.2225 210.16 40.7662 210.895 40.1577C209.866 38.7887 208.69 37.4197 207.367 36.2028C206.192 35.2901 205.016 34.3775 203.546 33.769C201.782 32.8563 199.871 32.4 197.814 32.4C197.079 32.4 196.344 32.4 195.609 32.5521C194.874 32.7042 193.992 33.0084 193.257 33.1606C194.286 35.7465 195.903 37.8761 198.108 39.5493C200.459 41.3746 202.958 42.1352 205.604 42.1352Z"
          fill="black"></path>
        <path d="M101 0H75V53H101V0Z" fill="#8C8C8C"></path>
        <path d="M75 0H64V53H75V0Z" fill="#ECECEC"></path>
        <path d="M64 0H37V53H64V0Z" fill="#BCBCBC"></path>
        <path d="M37 0H26V53H37V0Z" fill="#F8F8F8"></path>
        <path d="M26 0H0V53H26V0Z" fill="#B3B3B3"></path>
      </svg>
    </div>
  </div>
</section>
