---

---

<section class="px-6 w-full max-w-7xl mx-auto" id="pricing">
  <div>
    <div class="flex items-end justify-between border-b border-gray-900 pb-6">
      <p class="text-6xl font-medium">Pricing</p>
      <p class="text-3xl font-medium">No bullsh*t fees or sales calls.</p>
    </div>
    <p class="text-3xl w-3/4 pt-6 text-balance">
      We don't believe in complicated pricing tiers, hidden costs, or
      "enterprise" packages that require six Zoom calls to understand. Choose
      how you want to deploy, pay a fair price, and <span class="font-semibold"
        >get back to building cool stuff.</span
      >
    </p>
  </div>
  <div class="mt-16">
    <div class="grid gap-6 grid-cols-3">
      <!-- Free Tier -->
      <div
        class="rounded-3xl p-10 flex flex-col gap-12 justify-between bg-surface-1"
      >
        <div>
          <div
            class="border-b border-gray-900 pb-6 mb-6 flex flex-col justify-between h-60 gap-2"
          >
            <div>
              <h3 class="text-3xl font-semibold">Personal</h3>
              <p class="font-light mt-1 h-12">Self hosted only</p>
            </div>
            <div class="flex flex-col gap-1 mt-2">
              <span class="text-3xl font-semibold text-blue-300">Free</span>
              <span class="font-light h-12">Upgrade anytime</span>
            </div>
          </div>
          <ul class="flex flex-col gap-4 text-xl font-medium">
            <li>Most product features included</li>
            <li>Self hosted</li>
            <li>Manual setup & maintenance</li>
            <li>Manual product updates</li>
            <li>Basic support</li>
          </ul>
        </div>
        <div>
          <a
            href="https://github.com/devhub-tools/helm-charts/tree/main/charts/devhub"
            class="text-xl bg-gray-400 rounded-full px-6 py-3 text-gray-50"
            >Installation guide</a
          >
        </div>
      </div>

      <!-- Paid Tier -->
      <div
        class="rounded-3xl p-10 flex flex-col gap-12 justify-between bg-surface-1"
      >
        <div>
          <div
            class="border-b border-gray-900 pb-6 mb-6 flex flex-col justify-between h-60 gap-2"
          >
            <div>
              <h3 class="text-3xl font-semibold">Paid</h3>
              <p class="font-light mt-1">
                Flexible hosting options for all compliance needs
              </p>
            </div>
            <div class="flex flex-col gap-2 mt-2">
              <span>
                <span class="text-3xl font-semibold text-blue-300">$12</span
                ><span class="font-light"> / month / user</span></span
              >
              <span class="font-light"
                >Billed monthly, cancel anytime, no credit card required to
                start trial</span
              >
            </div>
          </div>
          <ul class="flex flex-col gap-4 text-xl font-medium">
            <li>All product features included</li>
            <li>14-day free trial</li>
            <li>Cloud hosted, bring your own cloud, or self hosted</li>
            <li>Automatic updates & maintenance</li>
            <li>Priority support</li>
            <li>Each cloud environment is a dedicated single tenant install</li>
          </ul>
        </div>
        <div>
          <a
            href="https://auth.devhub.cloud/signup"
            class="text-xl bg-blue-300 rounded-full px-6 py-3 text-gray-50"
            >Start your trial</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
