---

---

<section class="px-6 w-full max-w-7xl mx-auto" id="testimonials">
  <p class="text-6xl font-medium border-b border-gray-900 pb-6">
    Testimonials from amazing<br />people who love QueryDesk
  </p>

  <div class="grid gap-6 grid-cols-3 mt-18">
    <div class="rounded-3xl p-8 flex flex-col justify-between bg-surface-1">
      <p class="mb-6">
        "QueryDesk is the type of software that solves a problem so simply and
        elegantly that you wonder how you ever functioned without it before.
        This tool has dramatically improved our efficiency and security by
        allowing employees to query production data without direct or privileged
        access. This enables our developers to do their jobs and avoid
        bottlenecks, all while still meeting our compliance requirements thanks
        to out-of-the-box auditing and logging. If that wasn’t enough, the
        custom workflows and query library have helped us avoid the need to
        build custom internal tools, which frees up our team to focus on our
        core products!"
      </p>
      <div>
        <p class="font-semibold">Mark H.</p>
        <p>DevOps Team Lead, PDQ</p>
      </div>
    </div>

    <div class="rounded-3xl p-8 flex flex-col justify-between bg-surface-1">
      <p class="mb-6">
        "Compliance requirements around production data has always required
        significant internal tool development for my previous engineering teams.
        It was a lot of effort that still felt subpar and left engineers feeling
        handcuffed when trying to solve data issues in production. Once we
        implemented QueryDesk, within a day, our teams gained access to
        production data with valid controls and seamless ability to restrict and
        redact controlled data. It was a lifesaver. We also gained enhanced team
        metrics that helped uncover bottlenecks in our team processes. Code
        coverage reporting was another plus. The entire suite of tools were a
        big win with very little implementation effort."
      </p>
      <div>
        <p class="font-semibold">Kyle K.</p>
        <p>CTO, Stealth Startup</p>
      </div>
    </div>

    <div class="rounded-3xl p-8 flex flex-col justify-between bg-surface-1">
      <p class="mb-6">
        "QueryDesk has solved so many challenges that come with being SOC 2
        compliant and general best practice. It's AI features let us safely and
        easily let anyone in the company answer their own questions. Query
        approvals let developers do their job easily while making sure our prod
        db is safe. Code coverage and analytics all in a self hosted package
        mean easier security conversations with our customers. It really is a
        godsend."
      </p>
      <div>
        <p class="font-semibold">Adam K.</p>
        <p>CTO, Jump</p>
      </div>
    </div>
  </div>
</section>
